.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 100px auto;

}
.about-left{
     flex-basis: 40%;
       position: relative;
}
.left-img{
    width: 100%;
    border-radius: 10px;
}
.play-icon{
    position: absolute;
    width: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.about-right{
    flex-basis: 56%;
}
.about-right h3{
    font-weight: 600;
    font-size: 16px;
    color:#212EA0 ;
}
.about-right h2{
    font-size: 32px;
    color: #000F38;
   
    max-width: 400px;
}
.about-right p{
    color: #676767;
    margin-bottom: 15px;
}
@media (max-width:800px){
    .about{
        flex-direction: column;
    }
    .about-left{
        flex-basis: 100%;
        margin: 20px;
        order: 2;
    }
    .about-right{
        flex-basis: 100%;
    }
}