.campus{
    width: 90%;
    text-align: center;
    margin: 80px auto;

}
.gallery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.gallery img{
    flex-basis: 23%;
    border-radius: 10px;
}
@media (max-width:800px){
    .gallery{
        flex-wrap: wrap;
    }
    .gallery img{
        width: 48%;
        margin-bottom:25px ;
    }
}