img{
    width: 180px;
}
a{
  text-decoration: none;
  color: white;
  line-height: 1;
  cursor: pointer;
}
nav{
    top: 0;
    left: 0;
    justify-content: space-between;
    text-align: justify;
    align-items: center;
    display: flex;
    padding: 4px 0;
    /* background-color:#333; */
    z-index: 10;
    position: fixed;
    width: 100%;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px ;
    font-size: 16px;
}
.dark-nav{
    background: #212ea0;
    transition: 0.5s;
}
.menu-icon{
    display: none;
}

@media (max-width:1000px){
    .logo{
        width: 140px;
    }
    nav ul li{
        margin: 10px 15px;
    }
}
@media (max-width:800px){
    nav{
        padding: 15px 0;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #212ea0;
        z-index: -1;
        padding-top: 70px;
        width: 200px;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px 40px;
    }
    .menu-icon{
        width: 30px;
        display: block;
        cursor: pointer;
    }
    .mobile-view{
        right: -200px;
    }
}