.programs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 80px auto;
}
.program{
      flex-basis: 31%;
      position: relative;
}
.programs img{
     width: 100%;
    display: block;
    border-radius: 10px;

}
.caption{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgba(0, 15,152, 0.3);
    opacity: 0;
    cursor: pointer;
    flex-direction: column;
    color: #fff;
    transition:0.4s ;
    padding-top: 70%;
}
.caption img{
    width: 60px;
    margin-bottom: 10px;
}
.caption:hover{
    opacity: 1;
    padding-top: 0;
}
@media (max-width:650px) {
    .programs{
        flex-direction: column;
    }
    .program{
        flex-basis: 100%;
        margin: 20px;
    }
}