.title{
    align-items: center;
    color:#212EA0 ;
    font-size: 16px;
    font-weight: 600;
    margin: 70px 0 30px;
    text-transform: uppercase;
    text-align: center;
}
.title h2{
    font-size: 32px;
    color: #000F38;
    margin-top: 5px;
    text-transform: none;
}
