@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
}
body{
  background-color: #f5f5f5;
}
.container{
  padding-left: 10%;
  padding-right: 10%;

}
.btn{
    background-color: white;
    border-radius: 30px;
    padding:14px 25px;
    border: none;
    color: #212121;
    font-size: 16px;
    outline: 0;
    cursor: pointer;
    display:inline-flex;
    align-items: center;
    justify-content: center;
}
.btn img{
  width: 20px;
  margin-left:10px ;
}
.btn.dark-btn{
  background: #212ea0;
  color: #fff;
}

@media(max-width:1200px){
  .container{
    padding-left: 5%;
    padding-right:5%;
  }
  .btn{
    padding: 14px 22px;
  }
}